---
import ArrowLeft from '../../assets/arrow-left.svg'
import ArrowRight from '../../assets/arrow-right.svg'

export interface Props {
  text: string
  url: string
  arrowLeft?: boolean
  newWindow?: boolean
  linkClass?: string
  iconClass?: string
}

const { text, url, arrowLeft, newWindow, linkClass, iconClass } = Astro.props
---

<a
  href={url}
  target={newWindow ? '_blank' : '_self'}
  rel={newWindow ? 'noopener noreferrer' : ''}
  class={`${linkClass} flex gap-2 items-center bg-accent text-background w-fit py-2 px-4 rounded-full border-2 group text-xl md:text-2xl`}
  aria-label={text}
>
  {
    arrowLeft ? (
      <>
        <ArrowLeft
          class={`${iconClass} site-8 group-hover:-translate-x-1 transition-transform duration-200 ease-in-out`}
        />
        {text}
      </>
    ) : (
      <>
        {text}
        <ArrowRight
          class={`${iconClass} size-8 site-icon group-hover:translate-x-1 transition-transform duration-200 ease-in-out`}
        />
      </>
    )
  }
</a>
